body {
    background-color: #D1D1D1;
}

.registerPatient {
    float: left;
    height: 38%;
    padding: 1%;
    width: 30%;
    background-color: #20272F;
    padding:2%;
}        

.registerPatient h1 {
    color:white;
}
.registerPatient label {
    color:white;
    padding:3%;
    border-radius:2%;            
}
.registerPatient input {
    width:100%;
    margin-left:auto;
    margin-right: auto;
    padding:1%;
    border-radius:2%;
    margin-bottom: 4%;
}
.registerPatient select {
    width:100%;
    margin-left:auto;
    margin-right: auto;
    padding:1%;
    border-radius:2%;
    margin-bottom: 4%;
}
.registerPatient button {
    float: right;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}