<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            {% for x in patient %}
            <tr>
                <th>{{x.identification}}</th>
                <th>{{x.name}}</th>
                <th>{{x.last_name}}</th>
                <th>{{x.phone}}</th>
                <th>{{x.address}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>