{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainPatient.css' %}">

</head>
<body>
    <div class="registerPatient">
        <h1>
            Register Patients
        </h1>
        <form class ="pure-form"action="" method="post">
            {% csrf_token %}
            {{patient_form}}
            
            <button type="submit" class="pure-button pure-button-primary" >Register</button>
        </form>
    </div>
    <div>
        <table class="pure-table pure-table-horizontal">
            <h1>Patients</h1>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
            {% for x in patient %}
            <tr>
                <th>{{x.identification}}</th>
                <th>{{x.name}}</th>
                <th>{{x.last_name}}</th>
                <th>{{x.phone}}</th>
                <th>{{x.address}}</th>
                <th><a class="pure-button"href="{% url 'info_patient' x.identification %}">Info</a></th>
                <th><a class="pure-button"href="{% url 'modify_patient' x.identification %}">Modify</a></th>
                <th><button id="{{x.identification}}"class="pure-button open-modal" onclick="display(this)"><b>Delete</b></button></th>
            </tr>
            {% endfor %}
        </table>
        
    </div>
    
    <div id="modalForDelete" class="modal">

        <div class="modal-content">
            <span id="modal-span" class="close" onclick="closeSpan(this)">
                &times;
            </span>
            <p>
                Are you sure you want to delete this Patient?
            </p>
            <a id ="modal-link"href="#">Delete</a>
        </div>

    </div>

<script type="text/javascript">
    //getting modal
    var modal=document.getElementById("modalForDelete");

    var span = document.getElementsByClassName("close");

    function closeSpan() {
        modal.style.display="none";
    }

    function display(btn) {
        modal.style.display = "block";
        document.getElementById("modal-link").href = "{% url 'delete_patient' 999 %}".replace('999',btn.id.toString());
    }
    window.onclick=function(event) {
        if(event.target==modal) {
            modal.style.display="none";
        }
    }
</script>
</body>
</html>